@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pages {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* HEADER - START */
.header {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(20.31%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, left bottom, color-stop(78.42%, rgba(248, 251, 255, 0)), color-stop(86.55%, rgba(248, 251, 255, 0.62)), color-stop(94.52%, rgba(248, 251, 255, 0.94)), to(#fff)), url(../images/header_bg.png);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 20.31%), linear-gradient(180deg, rgba(248, 251, 255, 0) 78.42%, rgba(248, 251, 255, 0.62) 86.55%, rgba(248, 251, 255, 0.94) 94.52%, #fff 100%), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__menu {
  padding-top: 20px;
}

.header__menu .menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu .menu__row .menu__logo .logo__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 121%;
  text-transform: capitalize;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header__menu .menu__row .menu__navbar {
    display: none;
  }
}

.header__menu .menu__row .menu__navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

.header__menu .menu__row .menu__navbar .nav__item:not(:last-child) {
  margin-right: 30px;
}

.header__menu .menu__row .menu__navbar .nav__link {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 121%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.75);
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.header__menu .menu__row .menu__navbar .nav__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  top: 100%;
  left: 0;
  pointer-events: none;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header__menu .menu__row .menu__navbar .nav__link:hover {
  color: #fff;
}

.header__menu .menu__row .menu__navbar .nav__link:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

@media screen and (max-width: 768px) {
  .header__menu .menu__row .menu__btns {
    display: none;
  }
}

.header__menu .menu__row .menu__btns button {
  position: relative;
  border: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.75);
  padding-right: 15px;
  cursor: pointer;
}

.header__menu .menu__row .menu__btns button::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 6px;
  height: 6px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid rgba(255, 255, 255, 0.75);
  -webkit-transform: translate(0%, -50%) rotate(45deg);
          transform: translate(0%, -50%) rotate(45deg);
}

.header__menu .menu__row .menu__mobile-btn {
  display: block;
}

@media screen and (min-width: 769px) {
  .header__menu .menu__row .menu__mobile-btn {
    display: none;
  }
}

.header__menu .menu__row .menu__mobile-btn button {
  border: none;
  background-color: transparent;
  padding: 10px;
}

.header__menu .menu__row .menu__mobile-btn button ion-icon {
  font-size: 24px;
  color: #fff;
}

.header__main {
  height: calc(100vh - 50px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__main .main__row,
.header__main .main__filter {
  width: 100%;
}

.header__main .main__content {
  margin-bottom: 30px;
}

.header__main .main__content .content__title {
  margin-bottom: 40px;
}

@media (max-width: 1220px) {
  .header__main .main__content .content__title {
    margin-bottom: calc( 20px + 20 * ((100vw - 320px) / 900));
  }
}

.header__main .main__content .content__title h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 122%;
  color: #fff;
}

@media (max-width: 1220px) {
  .header__main .main__content .content__title h1 {
    font-size: calc( 24px + 24 * ((100vw - 320px) / 900));
  }
}

.header__main .main__content .content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

.header__main .main__content .content__link {
  margin-right: 40px;
}

.header__main .main__content .content__link button {
  background: #121212;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 15px 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

@media (max-width: 1220px) {
  .header__main .main__content .content__link button {
    font-size: calc( 14px + 4 * ((100vw - 320px) / 900));
  }
}

.header__main .main__content .content__link button:hover {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}

@media screen and (max-width: 768px) {
  .header__main .main__content .content__link button {
    padding: 10px 20px;
  }
}

.header__main .main__content .content__price p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fff;
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1220px) {
  .header__main .main__content .content__price p {
    font-size: calc( 16px + 8 * ((100vw - 320px) / 900));
  }
}

.header__main .main__filter iframe {
  width: 100%;
}

/* HEADER - END */
/* SECTIONS - START */
/* ABOUT - SECTION - START */
.section {
  position: relative;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 769px) {
  .section__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.section__img .img__wrap {
  position: relative;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .section__img .img__wrap {
    margin: 0 auto 30px auto;
  }
}

.section__img .img__wrap img {
  width: 100%;
  height: 100%;
}

.section__content .content__title {
  margin-bottom: 45px;
}

.section__content .content__title h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  text-transform: capitalize;
  color: #000;
}

@media (max-width: 1220px) {
  .section__content .content__title h1 {
    font-size: calc( 18px + 18 * ((100vw - 320px) / 900));
  }
}

.section__content .content__desc p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  text-transform: capitalize;
  color: #000;
}

.section__content .content__desc p:not(:last-child) {
  margin-bottom: 20px;
}

.about__section {
  padding-top: 100px;
  padding-bottom: 250px;
}

@media (max-width: 1220px) {
  .about__section {
    padding-top: calc( 30px + 70 * ((100vw - 320px) / 900));
  }
}

@media (max-width: 1220px) {
  .about__section {
    padding-bottom: calc( 100px + 150 * ((100vw - 320px) / 900));
  }
}

.about__section .section__img,
.about__section .section__content {
  width: 49%;
}

@media screen and (max-width: 768px) {
  .about__section .section__img,
  .about__section .section__content {
    width: 100%;
  }
}

/* ABOUT - SECTION - END */
/* OFFER - SECTION - START */
.offer__section {
  padding-bottom: 150px;
}

@media (max-width: 1220px) {
  .offer__section {
    padding-bottom: calc( 70px + 80 * ((100vw - 320px) / 900));
  }
}

.offer__section .section__content {
  text-align: center;
}

.offer__section .section__cards {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .offer__section .section__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.offer__section .offer__card {
  width: 25%;
  position: relative;
  height: 340px;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .offer__section .offer__card {
    width: 100%;
    margin-bottom: 20px;
    height: 220px;
  }
}

.offer__section .offer__card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.offer__section .offer__card:hover .card__icon {
  background-color: #fff;
}

.offer__section .offer__card:hover .card__icon ion-icon {
  color: #000;
}

.offer__section .offer__card .card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.offer__section .offer__card .card__img .img__wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
}

.offer__section .offer__card .card__img .img__wrap img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.offer__section .offer__card .card__title h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}

.offer__section .offer__card .card__desc p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}

.offer__section .offer__card .card__icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.offer__section .offer__card .card__icon ion-icon {
  color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* OFFER - SECTION - END */
/* FORM - SECTION - START */
.form_section {
  margin-bottom: 110px;
}

@media (max-width: 1220px) {
  .form_section {
    margin-bottom: calc( 40px + 70 * ((100vw - 320px) / 900));
  }
}

.form_section .section__body {
  width: 100%;
  height: 314px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(92.41deg, #7878ff 0%, #95a4ff 49.6%, #f4b6ff 100%);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_section .section__row {
  width: 65%;
}

@media screen and (max-width: 768px) {
  .form_section .section__row {
    width: 85%;
  }
}

.form_section .section__content {
  width: 35%;
}

@media screen and (max-width: 768px) {
  .form_section .section__content {
    width: 100%;
    margin-bottom: 25px;
  }
}

.form_section .content__title {
  margin-bottom: 0;
}

.form_section .content__title h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.form_section .section__form {
  width: 45%;
}

@media screen and (max-width: 768px) {
  .form_section .section__form {
    width: 100%;
  }
}

.form_section .section__form .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 10px;
}

.form_section .section__form .form__group:not(:last-child) {
  margin-bottom: 20px;
}

.form_section .section__form .form__group input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  padding: 5px;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

.form_section .section__form .form__group input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

.form_section .section__form .form__group input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

.form_section .section__form .form__group input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

.form_section .section__form .form__group input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}

.form_section .section__form .form__group button {
  width: 25px;
  height: 25px;
  background: #f4ebff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.form_section .section__form .form__group button:hover {
  background-color: #fff;
}

.form_section .section__slider {
  width: 100%;
  position: relative;
}

.form_section .section__slider .partners__slider-other {
  width: 65%;
  margin: 0 auto;
}

.form_section .section__slider .partners__slider-other .img__wrap {
  width: 100%;
  height: 250px;
}

.form_section .section__slider .partners__slider-other img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.form_section .section__slider .partners__slider-other .slider__item {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .form_section .section__slider .slider__arrows {
    display: none;
  }
}

.form_section .section__slider .slider__arrows .slider__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.form_section .section__slider .slider__arrows .slider__arrow ion-icon {
  color: #000;
  font-size: 20px;
}

.form_section .section__slider .slider__arrows .arrow__prev {
  left: 100px;
}

.form_section .section__slider .slider__arrows .arrow__next {
  right: 100px;
}

.form_section .section__slider .slick-dots {
  bottom: 30px;
}

.form_section .section__slider .slick-dots li button:before {
  font-size: 25px;
}

/* FORM - SECTION - END */
/* GALLERY - SECTION - START */
@media screen and (max-width: 768px) {
  .gallery__section .section__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .gallery__section .section__content {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .gallery__section .section__content .content__title {
    margin-bottom: 0;
  }
}

.gallery__section .content__link a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

@media (max-width: 1220px) {
  .gallery__section .content__link a {
    font-size: calc( 16px + 8 * ((100vw - 320px) / 900));
  }
}

.gallery__section .content__link a .link__text {
  margin-right: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.gallery__section .content__link a ion-icon {
  padding-top: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.gallery__section .content__link a:hover ion-icon {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.gallery__section .section__slider {
  width: 100%;
  position: relative;
}

.gallery__section .section__slider .gallery__slider {
  width: 100%;
  padding-bottom: 150px;
}

@media (max-width: 1220px) {
  .gallery__section .section__slider .gallery__slider {
    padding-bottom: calc( 70px + 80 * ((100vw - 320px) / 900));
  }
}

.gallery__section .section__slider .slider__item {
  width: 100%;
  margin-right: 30px;
}

.gallery__section .section__slider .slider__img {
  width: 100%;
}

.gallery__section .section__slider .img__wrap {
  position: relative;
  padding-bottom: 100%;
}

.gallery__section .section__slider .img__wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 1024px) {
  .gallery__section .section__slider .slider__arrows {
    display: none;
  }
}

.gallery__section .section__slider .slider__arrows .slider__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: #dfe2e5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.gallery__section .section__slider .slider__arrows .slider__arrow ion-icon {
  color: #fff;
  font-size: 20px;
}

.gallery__section .section__slider .slider__arrows .arrow__prev {
  left: -100px;
}

.gallery__section .section__slider .slider__arrows .arrow__next {
  right: -50px;
}

.gallery__section .section__slider .slick-dots {
  bottom: 30px;
}

.gallery__section .section__slider .slick-dots li button:before {
  font-size: 25px;
}

/* GALLERY - SECTION - END */
/* PARTNERS - SECTION - START */
.partners__section {
  margin-bottom: 150px;
}

@media (max-width: 1220px) {
  .partners__section {
    margin-bottom: calc( 70px + 80 * ((100vw - 320px) / 900));
  }
}

@media screen and (max-width: 1024px) {
  .partners__section {
    display: none;
  }
}

.partners__section .section__body {
  min-height: 210px;
  background: rgba(0, 0, 0, 0.025);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__section .section__slider {
  width: 100%;
  position: relative;
}

.partners__section .section__slider .partners__slider {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__section .section__slider .partners__slider .img__wrap {
  width: 100%;
  height: 200px;
}

.partners__section .section__slider .partners__slider .big__img {
  width: 60%;
  margin: 0 auto;
}

.partners__section .section__slider .partners__slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.partners__section .section__slider .partners__slider .slider__item {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .partners__section .section__slider .slider__arrows {
    display: none;
  }
}

.partners__section .section__slider .slider__arrows .slider__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.partners__section .section__slider .slider__arrows .slider__arrow ion-icon {
  color: #000;
  font-size: 20px;
}

.partners__section .section__slider .slider__arrows .arrow__prev {
  left: 100px;
}

.partners__section .section__slider .slider__arrows .arrow__next {
  right: 100px;
}

.partners__section .section__slider .slick-dots {
  bottom: 30px;
}

.partners__section .section__slider .slick-dots li button:before {
  font-size: 25px;
}

/* PARTNERS - SECTION - END */
/* SECTIONS - END */
/* FOOTER - START */
.footer {
  position: relative;
  background: #000;
  padding-top: 100px;
  padding-bottom: 60px;
}

@media (max-width: 1220px) {
  .footer {
    padding-top: calc( 50px + 50 * ((100vw - 320px) / 900));
  }
}

@media (max-width: 1220px) {
  .footer {
    padding-bottom: calc( 30px + 30 * ((100vw - 320px) / 900));
  }
}

.footer .body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 568px) {
  .footer .body__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.footer .footer__column {
  margin-bottom: 30px;
}

.footer .footer__column i-frame {
  width: 450px;
}

@media screen and (max-width: 768px) {
  .footer .footer__column {
    margin-bottom: 30px;
  }
  .footer .footer__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  .footer .footer__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer .footer__column:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer .footer__column:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer .footer__column i-frame {
    width: 100%;
  }
}

.footer .footer__column .contacts p {
  margin-bottom: 5px;
}

.footer .footer__column .column__title {
  margin-bottom: 20px;
}

.footer .footer__column .column__title h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.footer .footer__column .footer__nav .nav__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer .footer__column .footer__nav .nav__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.footer .footer__column .footer__nav .nav__link:hover {
  text-decoration: underline;
}

.footer .footer__column .address__content .content__item:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 1220px) {
  .footer .footer__column .address__content .content__item:not(:last-child) {
    margin-bottom: calc( 20px + 20 * ((100vw - 320px) / 900));
  }
}

.footer .footer__column .address__content .content__item p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #fff;
}

.footer .footer__column .icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 568px) {
  .footer .footer__column .icons__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer .footer__column .icons__list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__column .icons__list .list__item:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (max-width: 568px) {
  .footer .footer__column .icons__list .list__item {
    width: 48%;
  }
  .footer .footer__column .icons__list .list__item:last-child {
    margin-bottom: 25px;
  }
}

.footer .footer__column .icons__list .list__item .list__icon {
  margin-right: 10px;
}

.footer .footer__column .icons__list .list__item .list__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.footer .footer__column .column__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer__column .column__btns .column__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 26px;
  border: 1px solid #fff;
  border-radius: 12px;
}

.footer .footer__column .column__btns .column__btn:not(:last-child) {
  margin-bottom: 20px;
}

.footer .footer__column .column__btns .column__btn .btn__icon {
  margin-right: 10px;
}

.footer .footer__column .column__btns .column__btn .btn__text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15.7714px;
  line-height: 19px;
  color: #fff;
}

/* FOOTER - END */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::: - N E W S  P A G E - S T A R T - ::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* HEADER - START */
.news__header .header__menu .menu__row .menu__logo .logo__text {
  color: #bb93ed;
}

.news__header .header__menu .menu__row .menu__navbar .nav__link {
  color: black;
}

.news__header .header__menu .menu__row .menu__navbar .nav__link::before {
  background: black;
}

.news__header .header__menu .menu__row .menu__navbar .nav__link:hover {
  color: black;
}

.news__header .header__menu .menu__btns button {
  color: black;
}

.news__header .header__menu .menu__btns button::before {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.news__header .header__menu .menu__mobile-btn button ion-icon {
  color: #000;
}

/* HEADER - END */
/* SECTIONS - START */
/* BREADCRUMB - START */
.breadcrumb {
  margin: 70px 0;
}

.breadcrumb__body {
  background: rgba(84, 142, 255, 0.25);
  -webkit-backdrop-filter: blur(65px);
          backdrop-filter: blur(65px);
  border-radius: 25px;
  padding: 70px;
}

.breadcrumb__title {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;
  color: #000;
}

.breadcrumb__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.breadcrumb__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
}

.breadcrumb__link:not(:last-child) {
  margin-right: 15px;
}

.breadcrumb__link-icon {
  margin-left: 10px;
  padding-top: 4px;
}

.breadcrumb__link-disabled {
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumb__link-active {
  color: #000;
}

/* BREADCRUMB - END */
/* NEWS - START */
.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__block {
  width: 30%;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .news__block {
    width: 48%;
  }
}

@media screen and (max-width: 568px) {
  .news__block {
    width: 100%;
  }
}

.news__img {
  width: 100%;
  max-height: 355px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}

.news__img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.news__date {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.25);
}

.news__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.news__title a {
  color: #000;
}

.news__title a:hover {
  color: #9a1b5c;
}

.news__desc {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

/* NEWS - END */
/* SECTIONS - END */
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::: - N E W S  P A G E - E N D - ::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/*# sourceMappingURL=style.css.map */