@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./mixins/mixins";
@import "./mixins/normalize";

$font-montserrat: "Montserrat", sans-serif;
$font-roboto: "Roboto", sans-serif;

$main-text-color: #000;
$primary-text-color: #fff;
$bg-color: #121212;

body {
	font-family: $font-montserrat;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
}

/* HEADER - START */

.header {
	width: 100%;
	height: 100vh;
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.2) 0%,
			rgba(0, 0, 0, 0) 20.31%
		),
		linear-gradient(
			180deg,
			rgba(248, 251, 255, 0) 78.42%,
			rgba(248, 251, 255, 0.62) 86.55%,
			rgba(248, 251, 255, 0.94) 94.52%,
			#fff 100%
		),
		url(../images/header_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__menu {
		padding-top: 20px;

		.menu__row {
			@include d-flex(center, space-between);

			.menu__logo {
				.logo__text {
					font-family: $font-montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 121%;
					text-transform: capitalize;
					color: $primary-text-color;
				}
			}

			.menu__navbar {
				@media screen and (max-width: 768px) {
					display: none;
				}
				.nav {
					@include d-flex(center, none);

					&__item {
						&:not(:last-child) {
							margin-right: 30px;
						}
					}

					&__link {
						position: relative;
						font-family: $font-roboto;
						font-style: normal;
						font-weight: bold;
						font-size: 18px;
						line-height: 121%;
						text-transform: capitalize;
						color: rgba(255, 255, 255, 0.75);
						transition: color 0.3s ease-out;

						&::before {
							content: "";
							position: absolute;
							width: 100%;
							height: 1px;
							background: $primary-text-color;
							top: 100%;
							left: 0;
							pointer-events: none;
							transform-origin: 100% 50%;
							transform: scale3d(0, 1, 1);
							transition: transform 0.3s;
						}

						&:hover {
							color: $primary-text-color;

							&::before {
								transform-origin: 0% 50%;
								transform: scale3d(1, 1, 1);
							}
						}
					}
				}
			}

			.menu__btns {
				@media screen and (max-width: 768px) {
					display: none;
				}
				button {
					position: relative;
					border: none;
					background-color: transparent;
					font-family: $font-roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 120%;
					text-transform: capitalize;
					color: rgba(255, 255, 255, 0.75);
					padding-right: 15px;
					cursor: pointer;

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						width: 6px;
						height: 6px;
						border-right: 2px solid rgba(255, 255, 255, 0.75);
						border-bottom: 2px solid rgba(255, 255, 255, 0.75);
						transform: translate(0%, -50%) rotate(45deg);
					}
				}
			}

			.menu__mobile-btn {
				display: block;
				@media screen and (min-width: 769px) {
					display: none;
				}

				button {
					border: none;
					background-color: transparent;
					padding: 10px;

					ion-icon {
						font-size: 24px;
						color: #fff;
					}
				}
			}
		}
	}

	&__main {
		height: calc(100vh - 50px);
		width: 100%;
		@include d-flex(center, flex-start);

		.main__row,
		.main__filter {
			width: 100%;
		}

		.main__content {
			margin-bottom: 30px;
			.content__title {
				@include adaptive-value("margin-bottom", 40, 20, 1);

				h1 {
					font-family: $font-montserrat;
					font-style: normal;
					font-weight: 600;
					@include adaptive-value("font-size", 48, 24, 1);
					line-height: 122%;
					color: $primary-text-color;
				}
			}

			.content__row {
				@include d-flex(center, none);
			}

			.content__link {
				margin-right: 40px;

				button {
					background: $bg-color;
					border-radius: 10px;
					padding: 15px 30px;
					border: none;
					font-family: $font-montserrat;
					font-style: normal;
					font-weight: bold;
					@include adaptive-value("font-size", 18, 14, 1);
					line-height: 130%;
					color: $primary-text-color;
					cursor: pointer;

					@media screen and (max-width: 768px) {
						padding: 10px 20px;
					}
				}
			}

			.content__price p {
				font-family: $font-montserrat;
				font-style: normal;
				font-weight: 600;
				@include adaptive-value("font-size", 24, 16, 1);
				line-height: 120%;
				text-decoration-line: underline;
				color: $primary-text-color;
				text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
			}
		}

		.main__filter {
			iframe {
				width: 100%;
			}
		}
	}
}

/* HEADER - END */

/* SECTIONS - START */

/* ABOUT - SECTION - START */

.section {
	position: relative;
	width: 100%;
	height: auto;

	&__row {
		@media screen and (min-width: 769px) {
			@include d-flex(center, space-between);
		}
	}

	&__img {
		.img__wrap {
			position: relative;
			width: 80%;

			@media screen and (max-width: 768px) {
				margin: 0 auto 30px auto;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__content {
		.content__title {
			margin-bottom: 45px;
			h1 {
				font-family: $font-montserrat;
				font-style: normal;
				font-weight: bold;
				@include adaptive-value("font-size", 36, 18, 1);
				line-height: 130%;
				text-transform: capitalize;
				color: $main-text-color;
			}
		}

		.content__desc {
			p {
				font-family: $font-montserrat;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 130%;
				text-transform: capitalize;
				color: $main-text-color;

				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
	}
}

.about__section {
	@include adaptive-value("padding-top", 100, 30, 1);
	@include adaptive-value("padding-bottom", 250, 100, 1);

	.section__img,
	.section__content {
		width: 49%;

		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}

/* ABOUT - SECTION - END */

/* OFFER - SECTION - START */

.offer__section {
	@include adaptive-value("padding-bottom", 150, 70, 1);
	.section__content {
		text-align: center;
	}

	.section__cards {
		width: 100%;

		@media screen and (min-width: 769px) {
			@include d-flex(flex-start, space-around);
		}
	}

	.offer__card {
		@media screen and (max-width: 768px) {
			width: 100%;
			margin-bottom: 20px;
			height: 220px;
		}
		width: 25%;
		position: relative;
		height: 340px;
		border-radius: 15px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.card__img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			.img__wrap {
				width: 100%;
				height: 100%;

				img {
					border-radius: 15px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.card__title {
			h1 {
				font-family: $font-roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 120%;
				color: $primary-text-color;
			}
		}

		.card__desc {
			p {
				font-family: $font-roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 120%;
				color: $primary-text-color;
			}
		}

		.card__icon {
			position: absolute;
			bottom: 10px;
			right: 10px;
			width: 20px;
			height: 20px;
			@include d-flex(center, center);
			background: rgba(255, 255, 255, 0.15);
			backdrop-filter: blur(15px);
			border-radius: 5px;

			ion-icon {
				color: #fff;
				transform: rotate(-45deg);
			}
		}
	}
}

/* OFFER - SECTION - END */

/* FORM - SECTION - START */

.form_section {
	@include adaptive-value("margin-bottom", 110, 40, 1);
	.section__body {
		width: 100%;
		height: 314px;
		background: linear-gradient(
				0deg,
				rgba(255, 255, 255, 0.5),
				rgba(255, 255, 255, 0.5)
			),
			linear-gradient(92.41deg, #7878ff 0%, #95a4ff 49.6%, #f4b6ff 100%);
		border-radius: 25px;
		@include d-flex(center, center);
	}

	.section__row {
		width: 65%;

		@media screen and (max-width: 768px) {
			width: 85%;
		}
	}

	.section__content {
		width: 35%;
		@media screen and (max-width: 768px) {
			width: 100%;
			margin-bottom: 25px;
		}
	}

	.content__title {
		margin-bottom: 0;
		h1 {
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			color: $primary-text-color;
		}
	}

	.section__form {
		width: 45%;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
		.form__group {
			@include d-flex(center, space-between);
			background: rgba(0, 0, 0, 0.08);
			border-radius: 5px;
			padding: 10px;

			&:not(:last-child) {
				margin-bottom: 20px;
			}

			input {
				flex: 0 0 90%;
				padding: 5px;
				border: none;
				background-color: transparent;
				outline: none;
				font-family: $font-montserrat;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 120%;
				color: $primary-text-color;
			}
			input::placeholder {
				font-family: $font-montserrat;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 120%;
				color: $primary-text-color;
			}

			button {
				width: 25px;
				height: 25px;
				background: #f4ebff;
				border-radius: 50%;
				@include d-flex(center, center);
				color: rgba(0, 0, 0, 0.5);
			}
		}
	}
}

/* FORM - SECTION - END */

/* GALLERY - SECTION - START */

.gallery__section {
	@include adaptive-value("margin-bottom", 150, 70, 1);

	.section__row {
		@media screen and (max-width: 768px) {
			@include d-flex(center, space-between);
		}
	}

	.section__content {
		@media screen and (max-width: 768px) {
			margin-bottom: 20px;
		}
		.content__title {
			@media screen and (max-width: 768px) {
				margin-bottom: 0;
			}
		}
	}

	.content__link {
		a {
			font-family: $font-montserrat;
			font-style: normal;
			font-weight: 500;
			@include adaptive-value("font-size", 24, 16, 1);
			line-height: 130%;
			color: $main-text-color;
			@include d-flex(center, none);

			.link__text {
				margin-right: 20px;
				text-decoration-line: underline;
			}

			ion-icon {
				padding-top: 10px;
			}
		}
	}

	.section__slider {
		width: 100%;
		position: relative;

		.gallery__slider {
			width: 100%;
		}
		.slider__item {
			width: 100%;
			margin-right: 30px;
		}

		.slider__img {
			width: 100%;
		}

		.img__wrap {
			position: relative;
			padding-bottom: 100%;
			// width: 340px;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 15px;
			}
		}

		.slider__arrows {
			@media screen and (max-width: 1024px) {
				display: none;
			}

			.slider__arrow {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 50px;
				height: 50px;
				background: #dfe2e5;
				border-radius: 50%;
				@include d-flex(center, center);
				cursor: pointer;

				ion-icon {
					color: #fff;
					font-size: 20px;
				}
			}

			.arrow__prev {
				left: -100px;
			}

			.arrow__next {
				right: -50px;
			}
		}
	}
}

/* GALLERY - SECTION - END */

/* PARTNERS - SECTION - START */

.partners__section {
	@include adaptive-value("margin-bottom", 150, 70, 1);

	.section__body {
		min-height: 210px;
		background: rgba(0, 0, 0, 0.025);
		border-radius: 25px;
		@include d-flex(center, center);
		@include adaptive-value("padding-right", 60, 20, 1);
		@include adaptive-value("padding-left", 60, 20, 1);
	}

	.section__slider {
		width: 100%;
		position: relative;

		.partners__slider {
			width: 90%;
			margin: 0 auto;
		}

		.slider__arrows {
			@media screen and (max-width: 768px) {
				display: none;
			}
			.slider__arrow {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 50px;
				height: 50px;
				background-color: transparent;
				@include d-flex(center, center);
				cursor: pointer;

				ion-icon {
					color: $main-text-color;
					font-size: 20px;
				}
			}

			.arrow__prev {
				left: 100px;
			}

			.arrow__next {
				right: 100px;
			}
		}
	}
}

/* PARTNERS - SECTION - END */

/* SECTIONS - END */

/* FOOTER - START */

.footer {
	position: relative;
	background: #000;
	@include adaptive-value("padding-top", 100, 50, 1);
	@include adaptive-value("padding-bottom", 60, 30, 1);

	.body__row {
		@include d-flex(flex-start, space-between);
		flex-wrap: wrap;
		@media screen and (max-width: 568px) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	.footer__column {
		width: 100%;

		@media screen and (min-width: 769px) {
			max-width: 300px;
		}
		@media screen and (max-width: 768px) {
			margin-bottom: 30px;
			&:nth-child(1) {
				order: 2;
				text-align: center;
			}

			&:nth-child(2) {
				order: 1;
			}

			&:nth-child(3) {
				order: 2;
			}

			&:nth-child(4) {
				order: 3;
			}
		}

		.column__title {
			margin-bottom: 20px;
			h3 {
				font-family: $font-montserrat;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: $primary-text-color;
			}
		}

		.footer__nav {
			.nav__item {
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}

			.nav__link {
				font-family: $font-montserrat;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 17px;
				color: $primary-text-color;
			}
		}

		.address__content {
			.content__item {
				&:not(:last-child) {
					@include adaptive-value("margin-bottom", 40, 20, 1);
				}
				p {
					font-family: $font-montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 17px;
					text-transform: capitalize;
					color: $primary-text-color;
				}
			}
		}

		.icons__list {
			display: flex;
			flex-direction: column;
			@media screen and (max-width: 568px) {
				flex-direction: row;
				flex-wrap: wrap;
			}
			.list__item {
				&:not(:last-child) {
					margin-bottom: 25px;
				}

				@media screen and (max-width: 568px) {
					width: 48%;
					&:last-child {
						margin-bottom: 25px;
					}
				}
				@include d-flex(center, center);
				.list__icon {
					margin-right: 10px;
				}

				.list__text {
					font-family: $font-montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 17px;
					color: $primary-text-color;
				}
			}
		}

		.column__btns {
			display: flex;
			flex-direction: column;
			.column__btn {
				@include d-flex(center, center);
				padding: 13px 26px;
				border: 1px solid #fff;
				border-radius: 12px;
				&:not(:last-child) {
					margin-bottom: 20px;
				}

				.btn__icon {
					margin-right: 10px;
				}

				.btn__text {
					font-family: $font-montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 15.7714px;
					line-height: 19px;
					color: $primary-text-color;
				}
			}
		}
	}
}

/* FOOTER - END */
