@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./mixins/mixins";
@import "./mixins/normalize";

$font-montserrat: "Montserrat", sans-serif;
$font-roboto: "Roboto", sans-serif;

$main-text-color: #000;
$primary-text-color: #fff;
$bg-color: #121212;

body {
	font-family: $font-montserrat;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
}

.container {
	width: 100%;
	max-width: 1220px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
}

/* HEADER - START */

.header {
	width: 100%;
	height: 100vh;
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.2) 0%,
			rgba(0, 0, 0, 0) 20.31%
		),
		linear-gradient(
			180deg,
			rgba(248, 251, 255, 0) 78.42%,
			rgba(248, 251, 255, 0.62) 86.55%,
			rgba(248, 251, 255, 0.94) 94.52%,
			#fff 100%
		),
		url(../images/header_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__menu {
		padding-top: 20px;

		.menu__row {
			@include d-flex(center, space-between);

			.menu__logo {
				.logo__text {
					font-family: $font-montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 121%;
					text-transform: capitalize;
					color: $primary-text-color;
				}
			}

			.nav {
				@include d-flex(center, none);

				&__item {
					&:not(:last-child) {
						margin-right: 30px;
					}
				}

				&__link {
					position: relative;
					font-family: $font-roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 121%;
					text-transform: capitalize;
					color: rgba(255, 255, 255, 0.75);
					transition: color 0.3s ease-out;

					&::before {
						content: "";
						position: absolute;
						width: 100%;
						height: 1px;
						background: $primary-text-color;
						top: 100%;
						left: 0;
						pointer-events: none;
						transform-origin: 100% 50%;
						transform: scale3d(0, 1, 1);
						transition: transform 0.3s;
					}

					&:hover {
						color: $primary-text-color;

						&::before {
							transform-origin: 0% 50%;
							transform: scale3d(1, 1, 1);
						}
					}
				}
			}

			.menu__btns {
				button {
					position: relative;
					border: none;
					background-color: transparent;
					font-family: $font-roboto;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 120%;
					text-transform: capitalize;
					color: rgba(255, 255, 255, 0.75);
					padding-right: 15px;
					cursor: pointer;

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						width: 6px;
						height: 6px;
						border-right: 2px solid rgba(255, 255, 255, 0.75);
						border-bottom: 2px solid rgba(255, 255, 255, 0.75);
						transform: translate(0%, -50%) rotate(45deg);
					}
				}
			}
		}
	}

	&__main {
		height: calc(100vh - 50px);
		@include d-flex(center, flex-start);

		.main__content {
			.content__title {
				@include adaptive-value("margin-bottom", 40, 20, 1);

				h1 {
					font-family: $font-montserrat;
					font-style: normal;
					font-weight: 600;
					@include adaptive-value("font-size", 48, 24, 1);
					line-height: 122%;
					color: $primary-text-color;
				}
			}

			.content__row {
				@include d-flex(center, none);
			}

			.content__link {
				margin-right: 40px;

				button {
					background: $bg-color;
					border-radius: 10px;
					padding: 15px 30px;
					border: none;
					font-family: $font-montserrat;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 130%;
					color: $primary-text-color;
					cursor: pointer;
				}
			}

			.content__price p {
				font-family: $font-montserrat;
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 120%;
				text-decoration-line: underline;
				color: $primary-text-color;
				text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
			}
		}
	}
}

/* HEADER - END */

/* SECTIONS - START */

/* ABOUT - SECTION - START */

.section {
	position: relative;
	width: 100%;
	height: auto;

	&__row {
		@include d-flex(center, space-between);
	}

	&__img {
		width: 49%;

		.img__wrap {
			position: relative;
			width: 80%;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__content {
		width: 49%;
		.content__title {
			margin-bottom: 45px;
			h1 {
				font-family: $font-montserrat;
				font-style: normal;
				font-weight: bold;
				@include adaptive-value("font-size", 36, 18, 1);
				line-height: 130%;
				text-transform: capitalize;
				color: $main-text-color;
			}
		}

		.content__desc {
			p {
				font-family: $font-montserrat;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 130%;
				text-transform: capitalize;
				color: $main-text-color;

				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
	}
}

.about__section {
	@include adaptive-value("padding-top", 100, 50, 1);
	@include adaptive-value("padding-bottom", 250, 100, 1);
}

/* ABOUT - SECTION - END */

/* SECTIONS - END */
